<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:letf">
  <h1>
      Rail Nation 
  </h1>
<div>
  <ul>
    <li>Rail NationГод выпуска: 2014</li>
    <li>
        Жанр: MMORTS, Стратегия, Экономический симулятор
    </li>
    <li>
        Разработчик: Travian Games
    </li>
  <li>
      Издательство: Travian Games
  </li>
  <li>
      Тип издания: лицензия
  </li>
  </ul>
  <div style="text-align: center">
<img width="350" alt="Rail Nation" src="http://s010.youpic.su/pictures/1448146800/af1e02a93925e907a1fb3accd5dd7704.jpg">
</div>
</div>
</div>
   -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1> To-Do Application</h1>

    </div>

  </div>

</div>  

<div class="container">
  <div class="row">

    <div class="col-xs-8">
      <input type="text" class="form-control" name="task" placeholder="escribe la puta tarea" #taskInput>
    </div>
      <div class="col-xs-4">
        <button class="btn btn-info" (click)="addTask(taskInput.value)">Agregar tarea</button>
      </div>
   
    <table class="table table-striped">

      <thead>
        <tr>
          <th>To-Do list</th>
        </tr>
      </thead>
      <tbody>
        <!-- <h4> -->
            <tr *ngFor="let task of tasks; let idx = index">
                
              <td *ngIf="task.is_canceled; else elseTd">
                  <s>{{ idx + 1}}.{{task.title}}</s>
              </td>
              <ng-template #elseTd>
                <td>{{ idx + 1}}.{{task.title}}</td>
              </ng-template>
              <td>
                <button class="btn-xs btn btn-warning" (click)="cancelTask(idx)">Cancelar</button>
              </td>
              <td>
                <button class="btn-xs btn btn-danger" (click)=deleteTask(idx)>Eliminar</button>
              </td>
              </tr>
        <!-- </h4> -->
        
      </tbody>

      <tfoot>
          <button class="btn btn-danger" (click)="clearToDo()">Clear</button>
      </tfoot>
    </table>
  </div>
</div>
